body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.project-intro {
    padding-top: 10%;
    text-align: center;
}

.info-pic-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    padding: 5% 2%;
}

li.details {
    margin: 5%;
}

li.details-grid {
    list-style: none;
}

/* images */

#main-image {
    width: 45vw;
    padding-top: 10%;
}

.inline-image-box {
    text-align: center;
}

figure {
    background-color: #F1DDD9;
    width: 70vw;
    padding: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.chart {
    width: 35vw;
}

.final-design {
    width: 80vw;
    margin-bottom: 10%;
}

img.data-image {
    width: 40vw;
}

.section-image {
    width: 60vw;
}

/* typography */

h1.section-title {
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    text-shadow: 5px 5px#F1DDD9;
}

h2.project-info-header {
    font-size: 1.5em;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


strong {
    font-size: 1.3em;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #F1DDD9 65%);
  }


/* media queries */
@media (max-width: 900px) {
    section {
        margin: 10% 5%;
    }

    li.number {
        display:none;
    }
}


@media (min-width: 900px) {
    .nav-menu a:hover {
        background-color: #F1DDD9;
        color: black;
        text-decoration: underline;
        padding: 20px 30px;
    }

    section {
        margin: 0 15%;
        border-bottom: 2px solid #F1DDD9;
    }

    #section-1,
    #section-4 {
        display: grid;
        grid-template-columns: 400px 600px;
        grid-template-rows: 100px 400px;
        gap: 5%;
        padding-bottom: 20%;
    }

    #section-1 h2 {
        grid-column: span 2;
    }

    #design {
        display: grid;
        grid-template-columns: 100px 2fr;
        grid-template-rows: 1fr 1fr;
    }


    li.number {
        list-style: none;
        text-align: right;
        font-size: 2em;
        font-weight: 900;
        color: #e2bcb5ff;
        padding-top: 45%;
    }

    li.details-grid {
        text-align: left;
    }
}
