body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

section {
    margin: 10% 15%;
    border: 2px solid #F1DDD9;
}

.project-intro {
    padding-top: 10%;
    text-align: center;
}

figcaption {
    text-align: center;
}

.info-pic-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    padding: 5% 2%;
}

li.details {
    margin: 5%;
}

.maps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* images */

figure {
    background-color: #F1DDD9;
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.chart {
    width: 35vw;
}

.final-design {
    width: 80vw;
}

img.data-image {
    width: 80vw;
    padding: 0 25%;
}

.section-image {
    width: 60vw;
}

/* typography */

h1.section-title {
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    text-shadow: 5px 5px#F1DDD9;
}

h2.project-info-header {
    font-size: 1.5em;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    
}


strong {
    font-size: 1.3em;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #F1DDD9 65%);
  }


/* media queries */

@media (max-width: 900px ) {
    section {
        margin: 2% 5%;
    }

}

@media (min-width: 900px) {
    .nav-menu a:hover {
        background-color: #F1DDD9;
        color: black;
        text-decoration: underline;
        padding: 20px 30px;
    }
}
