body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.resume-section {
    width: 80vw;
    border: 2px solid lightblue; 
    margin: 5% 7%;
}

.section-details{
    padding: 0 20%;
}

/* experience section */

li.list-section {
    padding: 10% 0;
}

.details-list {
    padding-left: 7%;
}
/* skills section */

.blue-box {
    width: 80vw;
    background-color: #E4F2F7;
    margin: 5% 7%;
}

.icons-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#icon {
    font-size: 3em;
    transition: transform .2s;
}

img.icon {
    width: 3em;
    height: 3em;
    transition: transform .2s;
}

img.icon:hover {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(217deg) brightness(106%) contrast(106%);
    transform: scale(1.5);
}
#icon:hover {
    color: white;
    transform: scale(1.5);
}



/* publications section */

.publications {
    padding: 0;
}

.pub-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
}

.pub-box:hover {
    background-color: white;
    box-shadow: 0 2px 5px 0  rgb(171,181,185, 0.16), 0 2px 10px 0  rgb(171,181,185, 0.12);
    border-radius: 0.2em;
    cursor: pointer;
}

.pub-icons {
    font-size: 2em;
}

.pub-info {
    padding-left: 5%;
}

 /* certifications  */

.certifications {
    width: 80vw;
    border: 2px solid lightblue;
    margin: 5% 7%;
}

.certifications-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.certification img {
    width: 20vw;
    height: auto;
}

/* Typography */

h1.page-title {
    font-size: 4em;
    color: black;
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px lightblue;
}

h2.section-title {
    margin-bottom: 5%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

p.subtitle-intro {
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    
}

p.job-name {
    font-size: 1.2em;
    margin-bottom: 0;
}

span.italic {
    font-size: 0.8em;
    font-style: italic;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #E4F2F7 65%);
  }

a.page-links {
    color: #FBC2AD;
    font-weight: 800;
}

a.pub-links {
    color: black;
}

a.pub-links:hover {
    color: #FBC2AD;
}