html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
    color: #27303A;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10%;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-x: hidden;
}

/* nav menu */

.nav-menu {
    list-style-type: none;
}

ul {
    padding: 0;
}

@media screen and (max-width: 900px) {


    ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        background: black;
        font-family: 'Anonymous Pro', monospace;
        font-size: 1em;
        z-index: 3;
    }

    .nav-menu a {
        display: block;
        background: black;
        color: white;
        margin-bottom: 0;
        padding: 16px 15px;
    }

    .nav-menu a:active {
        background: white;
        color: black;
    }

    .nav-menu a:hover {
        background: rgba(255, 255, 255, 0.3);
        text-decoration: underline;
    }
}

@media screen and (min-width: 900px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        line-height: 2;
        font-family: 'Anonymous Pro', monospace;
        font-size: 1.2em;
        text-align: center;
        z-index: 10;
    }

    .nav-menu a {
        color: #000;
        transition: 0.4s;
        padding: 0 30px;
    }

    .nav-menu a:hover {
        background-color: #C2CDC6;
        color: white;
        text-decoration: underline;
        padding: 20px 30px;
    }

    section {
        padding: 5em 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
    }
}


/* intro section  */

.intro {
    position: relative;
    /* background: #F5F5F5; */
}


.title-intro span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  }

  .title-intro span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
  }

  .title-intro span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
  }

  .title-intro span:nth-last-child(3n) {
    animation-delay: -0.5s;
  }

@media (min-width: 900px) {
    .intro {
        display: flex;
        justify-content: space-around;
        background-color: #F5F5F5;
    }

    
    .intro img.layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-intro {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    h1.title-intro {
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
        font-weight: 900;
    }

    .section-subtitle-intro {
        font-size: 1.5em;
        color: black;
        width: 16em;
    }

    img.intro-profile  {
        max-width: 30vw;
        position: relative;
        z-index: 2;
    }

}

@media (max-width: 900px) {
    .intro img.layer {
        display: none;
    }

    .intro {
        display: block;
        padding: 10% 5% 10% 10%;
    }
    .intro-profile {
        width: 30vw;
        position: relative;
        z-index: 1;
    }

    h1.title-intro {
        font-family: 'Montserrat', sans-serif;
        font-size: 3em;
        font-weight: 900;
    }

    .section-subtitle-intro {
        font-size: 1em;
        color: black;
    }

    .section-subtitle-intro {
        text-align: left;
        
    }

    img.intro-profile  {
        width: 80vw;
    }

    footer p{
        font-size: 0.8em;
    }
}

/* content section */

.content-container {
    margin: 0;
    padding: 0;
}

/* projects section */

section .project-container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

#web {
    background-color: #CBD4CE;
}

#games {
    background-color: #EAB99C;
}

#apps {
    background-color: none;
}

@media (min-width:900px) {
    
    body:before {
        position: fixed;
        content: 'LetsWorkTogether';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10em;
        font-weight: 500;
        color: transparent;
        -webkit-text-stroke: 1px #DFDFDF;
    }
    
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
    
    section h2 {
        margin-left: 200px;
        font-size: 4em;
        color: transparent;
        -webkit-text-stroke: 1px black;
        margin-bottom: 20px;
    }
    
    section .content-container {
        width: 100vw;
        height: 80vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section:nth-child(even) .content-container {
        flex-direction: row-reverse;
    }
    
    section .content-container {
        background: #CBD4CE;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .content-container:nth-child(1) {
        background: transparent;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .content-container:nth-child(2) {
        background: #D7C8D0;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .project-container {
        position: relative;
        width: 80vw;
        padding-bottom: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section .project-container .imgBx {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
        box-shadow: 0 25px 35px rgb(0,0,0, 0.1);
    }
    
    section .project-container .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    section .project-container .project-info {
        position: absolute;
        right: 0;
        margin-top: 200px;
        margin-bottom: 40px;
        padding: 3%;
        background: #F5F5F5;
        border-bottom: 10px solid #27303A;
        z-index: 1;
        max-width: 400px;
    }
    
    section:nth-child(even) .project-container .project-info {
        left: 0;
    }
    
    #apps .imgBx {
        width: 1000px;
        height: 400px;
    }
    
    #apps .imgBx img {
        padding-left: 20%;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
    h3.text {
        font-size: 3em;
    }    
}

@media (max-width: 900px) {
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        padding-left: 50px;
    }
    
    section h2 {
        margin-left: 50px;
        font-size: 2em;
        color: #27303A;
        margin-bottom: 20px;
    }
    
    section .content-container {
        width: 100vw;
        height: 80vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section:nth-child(even) .content-container {
        flex-direction: row-reverse;
    }
    
    section .content-container {
        background: #CBD4CE;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .content-container:nth-child(1) {
        background: transparent;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .content-container:nth-child(2) {
        background: #D7C8D0;
        background-size: cover;
        background-attachment: fixed;
    }
    
    section .project-container {
        position: relative;
        width: 80vw;
        padding-bottom: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section .project-container .imgBx {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
        box-shadow: 0 25px 35px rgb(0,0,0, 0.1);
    }
    
    section .project-container .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    section .project-container .project-info {
        position: absolute;
        right: 0;
        margin-top: 200px;
        margin-bottom: 40px;
        padding: 3%;
        background: #F5F5F5;
        border-bottom: 10px solid #27303A;
        z-index: 1;
        max-width: 400px;
    }
    
    section:nth-child(even) .project-container .project-info {
        left: 0;
    }
    
    h3.text {
        font-size: 3em;
    }
}


/* footer and contact */

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0.5;
    padding: 10% 0;
}

@media (min-width: 900px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        background: white;
        color: black;
        padding: 1rem;
        width: 100vw;
        z-index: 5;
    }

    p.footer-label,
    a.email {
        font-size: 1em;
        color: black;
    }

    .social-links{
        padding-right: 5%;
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        background: white;
        color: black;
        width: 100vw;
        padding-bottom: 2%;
        z-index: 5;
    }

    p.footer-label,
    a.email {
        font-size: 1em;
        color: black;
    }

    .social-links{
        font-size: 1.5em;
    }
}

@media (max-width: 560px) {
    p.footer-label,
    a.email {
        font-size: 0.8em;
        color: black;
    }

    #project-4 {
        padding-bottom: 20%;
    }
}

.btn {
    color: black;

}
  
.btn:hover,
a.email:hover {
    color: #EAB99C
}


/* fonts */

h1,
h3 {
    line-height: 1;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.project-label {
    color: black;
}

.project-number {
    font-family: 'Anonymous Pro', monospace;
    color: black;
}

h3,
p {
    font-family: 'Montserrat', sans-serif;
}

li, 
p {
    font-size: 1.2em;
}

p.project-category {
    color: #EAB99C;
}


/* keyframes */

@keyframes ani {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0  #EAB99C;
      color: #27303A;
    }
    30% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 #C2CDC6;
      color: #27303A;
    }
    70% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em #C2CDC6;
      color: #27303A;
    }
    100% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em  #EAB99C;
      color: #27303A;
    }
  }

 
