body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.project-intro {
    padding-top: 10%;
    text-align: center;
}

.wks-comparison {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wks-comparison p {
    grid-column: span 2;
    text-align: center;
}

figcaption {
    text-align: center;
}

.info-pic-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    padding: 5% 2%;
}

li.details {
    margin: 5%;
}

.slideshow {
    background-color: #E2F1DB;
    padding: 5% 0;
    margin: 0;
    right: 0;
    width: 100vw;
}

.slide {
    width: 100%;
    height: auto;
    padding: 0 15%;
}


/* images */

figure {
    background-color: #E2F1DB;
    width: 70vw;
    padding: 5%;
    margin-left: 10%;
}

img.compare {
    width: 45vw;
}

.section-image {
    width: 60vw;
}

img.chart {
    width: 35vw;
}

.final-design {
    width: 70vw;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart img {
    width: 50vw;
}

.project-image img{
    width: 50vw;
}

/* typography */

h1.section-title {
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    text-shadow: 5px 5px#E2F1DB;
}

h2.project-info-header {
    font-size: 1.5em;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    
}

h3.persona {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 3%;
}

strong {
    font-size: 24px;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #E2F1DB 65%);
  }


/* media queries */

@media (max-width: 900px ) {
    .info-pic-box {
        flex-direction: column;
    }

    .slide {
        width: auto;
        height: auto;
    }

    img.persona {
        width: 80vw;
    }

    section {
        margin: 10% 15%;
    }

}

@media (min-width: 900px) {
    .nav-menu a:hover {
        background-color: #E2F1DB;
        color: black;
        text-decoration: underline;
        padding: 20px 30px;
    }

    section {
        margin: 10% 15%;
        border-bottom: 2px solid #E2F1DB;
    }

    .inline-image-box {
        text-align: center;
    }
}
